body {
    background-color: #09090b;
    margin: 0;
    padding-top: 60px;
    /* Adjust this value based on your header height */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #09090b;
    padding: 15px;
    text-align: center;
    z-index: 2;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

.header a:hover,
.header a:active {
    color: rgb(0, 87, 173);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.videoPlayer {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.file {
    border-radius: 25px;
    background: #18181a;
    color: white;
    margin-top: 20px;
    min-width: 60%;
    max-width: 100%;
}

.filebtn {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filebtn div {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.filebtn div:hover {
    background: #29292c;
}

.filebtn span {
    margin-left: 70px;
}

.filebtn p {
    margin: 5px;
}

.filebtn p:last-child {
    margin-right: 50px;
}

.fileinfo2,
.fileinfo2 span {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.filename {
    margin-left: 15px;
}

.file hr {
    margin-left: 2%;
    margin-right: 2%;
    border-style: double;
    border-color: #222225;
}

.disclaimer {
    margin-left: 2%;
}

.disclaimer a:link,
.disclaimer a:visited {
    color: #87CEEB;
    text-decoration: none;
}

.disclaimer a:hover,
.disclaimer a:active {
    color: #00BFFF;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .videoPlayer {
        width: 100%;
    }
}